<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="/layout/linkcss :: linkcss"/>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/v11.7.0/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

<th:block th:replace="/layout/header :: header"/>

<div class="container-fluid">
    <header style="position: absolute; top: 70px; width: 100%">
        <div class="col-lg-12">
            <div class="col-lg-6 float-start">
                <h1>List of products</h1>
            </div>
            <div class="col-lg-6 float-start text-right">
                <button type="button" id="btnShowCreateModal" class="btn btn-outline-light">
                    <i class="fas fa-plus"></i>
                    Create Product
                </button>
                <button type="button" id="btnLogout" class="btn btn-outline-light">
                    <i class="far fa-sign-out"></i>
                    Logout
                </button>
            </div>
        </div>
    </header>
    <div class="content" style="width: 100%; top: 150px; position: absolute">
        <table id="tbProduct" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Category</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="products/modalCreate :: modalCreateProduct"/>
<th:block th:replace="products/modalUpdate :: modalUpdateProduct"></th:block>

<script src="/assets/jquery/v3.6.3/jquery-3.6.3.min.js"></script>
<script src="/assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>
<script src="/assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
<script src="/assets/js/appBase.js"></script>


<script>

    let page = {
        urls: {
            getAllProducts: AppBase.BASE_URL_PRODUCT,
            getAllCategory: AppBase.API_CATEGORY,
            doSave: AppBase.BASE_URL_PRODUCT,
            updateById: AppBase.API_UPDATE + "/update",
            doUpdate: AppBase.API_DO_UPDATE + "/update",
            doDelete: AppBase.BASE_URL_PRODUCT + "/delete"
        },
        element: {},
        commands: {},
        loadData: {},
        dialogs: {
            elements: {},
            commands: {}
        }
    }

    let product = {};
    page.element.loader = $(".loader");
    page.element.tempProduct = $("#tempProduct");
    page.element.currentRow = $("#currentRow");
    page.element.btnShowCreateModal = $("#btnShowCreateModal");

    page.element.btnDelete = $("#tempProduct body");
    page.element.btnSave = $("#btnSave");

    page.element.frmListProduct = $("#tbListProducts tbody");
    page.element.tbProduct = $("#tbProduct");

    page.dialogs.elements.modalCreateProduct = $("#modalCreateProduct");
    page.dialogs.elements.frmProduct = $("#frmProduct");

    page.dialogs.elements.wrapper = $("#frmProduct section .wrapper");
    page.dialogs.elements.productTitle = $("#productTitle");
    page.dialogs.elements.productPrice = $("#productPrice");
    page.dialogs.elements.productCategory = $("#productCategory");
    page.dialogs.elements.description = $("#description");
    page.dialogs.elements.imageFile = $("#imageFile");
    page.dialogs.elements.wrapperContent = $("#frmProduct section .wrapper .content");
    page.dialogs.elements.imagePreview = $("#frmProduct section .image-preview canvas");
    page.dialogs.elements.canvas = $("#canvas");
    page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.divImagePreview = $("#frmProduct div.image-preview, #frmProduct section div.file-name");
    page.dialogs.elements.btnClearImagePreview = $("#frmProduct .clear-image-preview i");

    page.dialogs.elements.frmUpdate = $("#frmUpdate");
    page.dialogs.elements.idUpdate = $("#idUpdate");
    page.dialogs.elements.modalUpdateProduct = $("#modalUpdateProduct");
    page.dialogs.elements.wrapperUp = $("#frmUpdate section .wrapper");
    page.dialogs.elements.productTitleUp = $("#productTitleUp");
    page.dialogs.elements.productPriceUp = $("#productPriceUp")
    page.dialogs.elements.productDescriptionUp = $("#descriptionUp");
    page.dialogs.elements.productCategoryUp = $("#productCategoryUp");
    page.dialogs.elements.imageFileUp = $("#imageFileUp");
    page.dialogs.elements.wrapperContentUp = $("#frmUpdate section .wrapper .content");
    page.dialogs.elements.imagePreviewUp = $("#frmUpdate section .image-preview canvas");
    page.dialogs.elements.canvasUp = $("#canvasUp");
    page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
    page.dialogs.elements.imagePreviewUp.css("display", "none");
    page.dialogs.elements.divImagePreviewUp = $("#frmUpdate div.image-preview, #frmUpdate section div.file-name");
    page.dialogs.elements.btnClearImagePreviewUp = $("#frmUpdate .clear-image-preview i");
    page.dialogs.elements.btnUpdateProduct = $("#btnUpdate");


    page.loadData.getAllProducts = () => {
        return $.ajax({
            type: "GET",
            url: page.urls.getAllProducts,
        }).done((data) => {

            $.each(data, (i, item) => {
                page.commands.renderProduct(item);
            })

        }).fail((err) => {
            console.log(err)
        }).always(function () {
            page.element.loader.addClass("hide");
            page.element.btnSave.prop('disabled', false);
        });
    }

    page.commands.showCreateModal = () => {
        page.dialogs.elements.modalCreateProduct.modal('show');
    }

    page.dialogs.commands.loadImageToCanvas = (imageFile) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.context.canvas.width = imageObj.width;
            page.dialogs.elements.context.canvas.height = imageObj.height;
            page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };

        imageObj.src = URL.createObjectURL(imageFile);
    }
    page.dialogs.commands.changeImagePreview = () => {
        let imageFile = page.dialogs.elements.imageFile[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }

    page.dialogs.commands.loadImageToCanvasUp = (imageFile, event = "load") => {
        page.dialogs.elements.imagePreviewUp.css("display", "");
        page.dialogs.elements.wrapperUp.addClass("active");
        page.dialogs.elements.wrapperContentUp.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.context.canvas.width = imageObj.width;
            page.dialogs.elements.context.canvas.height = imageObj.height;
            page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };

        return (event === "load") ? (imageObj.src = imageFile) : (imageObj.src = URL.createObjectURL(imageFile));
    }

    page.dialogs.commands.changeImagePreviewUp = () => {
        let imageFile = page.dialogs.elements.imageFileUp[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvasUp(imageFile, 'change');
                }
            }
        } else {
            page.dialogs.elements.btnClearImagePreviewUp();
        }
    }

    page.dialogs.commands.createProduct = () => {
        page.element.loader.removeClass("hide");
        page.element.btnSave.prop('disabled', true);

        let formData = new FormData();
        formData.append("title", page.dialogs.elements.productTitle.val().toString());
        formData.append("price", page.dialogs.elements.productPrice.val().toString());
        formData.append("category", page.dialogs.elements.productCategory.val().toString());
        formData.append("description", page.dialogs.elements.description.val().toString());
        formData.append("file", page.dialogs.elements.imageFile[0].files[0]);


        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.doSave,
            data: formData
        }).done((data) => {
            page.commands.renderProduct(data);

            // page.commands.addRow();

            AppBase.showSuccessAlert("Thêm sản phẩm thành công");

            page.dialogs.elements.modalCreateProduct.modal('hide');

        }).fail((err) => {
            console.log(err)
            AppBase.showErrorAlert("Thêm sản phẩm thất bại");
        }).always(function () {
            page.element.loader.addClass("hide");
            page.element.btnSave.prop('disabled', false);
        });
    }

    page.commands.renderProduct = (product) => {
        let cloudinaryServer = 'https://res.cloudinary.com/dkeilyism/image/upload/';
        let BASE_SCALE_IMAGE = "c_limit,w_150,h_100,q_100";
        let folderName = product.fileFolder;
        let fileName = product.fileName;

        let avatarUrl = cloudinaryServer + '/' + BASE_SCALE_IMAGE + '/' + folderName + '/' + fileName;

        let str = `
                <tr id="tr_${product.id}">
                    <td>${product.id}</td>
                    <td>
                        <img src="${avatarUrl}" alt=""/>
                    </td>
                    <td>${product.title}</td>
                    <td>${product.price}</td>
                    <td>${product.quantity}</td>
                    <td>${product.description}</td>
                    <td>${product.category}</td>
                    <td>
                        <button   class="btn btn-outline-secondary update"  data-id="${product.id}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                     <td>
                        <button class="btn btn-outline-danger delete" data-id="${product.id}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            `;


        page.element.tbProduct.prepend(str)
    }

    page.commands.showUpdateModal = () => {
        page.dialogs.elements.modalUpdateProduct.modal('show');
    }
    page.dialogs.elements.modalCreateProduct.on("hidden.bs.modal", () => {
        page.dialogs.elements.frmProduct[0].reset();
        // page.elements.frmUpdateProduct.validate().resetForm();
    })

    page.commands.showUpdateProduct = () => {
        $(".update").on("click", function () {
            let id = $(this).data("id");
            page.commands.findProductById(id).then(() => {
                page.dialogs.elements.idUpdate.val(product.id);
                page.dialogs.elements.productTitleUp.val(product.title);
                page.dialogs.elements.productPriceUp.val(product.price);
                page.dialogs.elements.productDescriptionUp.val(product.description);
                page.dialogs.elements.productCategoryUp.val(product.categoryId);

                let imageUrl = product.fileUrl;
                page.dialogs.commands.loadImageToCanvasUp(imageUrl);

            })
            page.commands.showUpdateModal();
        });
    }
    page.dialogs.elements.btnUpdateProduct.on("click", () => {
        doUpdate();
        // page.dialogs.elements.frmUpdate.trigger("submit");
    })



    function doUpdate () {
        let formData = new FormData();
        formData.append("id", page.dialogs.elements.idUpdate.val());
        formData.append("title",  page.dialogs.elements.productTitleUp.val());
        formData.append("price", page.dialogs.elements.productPriceUp.val());
        formData.append("description", page.dialogs.elements.productDescriptionUp.val());
        formData.append("category", page.dialogs.elements.productCategoryUp.val());
        //formData.append("file", page.dialogs.elements.imageFile[1].files[0]);
        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.doUpdate,
            data: formData
        }).done((data) => {
            console.log(data)

            let trProduct = $("#tr_" + data.id)
            let str = page.commands.renderProduct(data);
            trProduct.replaceWith(str);

            AppBase.showSuccessAlert(AppBase.AlertMessageEn.SUCCESS_UPDATED);

            page.dialogs.elements.modalUpdateProduct.modal('hide');
        }).fail((err) => {
            // page.dialogs.elements.modalCreateProduct.modal('hide');
            AppBase.showErrorAlert(AppBase.AlertMessageEn.ERROR_400);
        }).always(function () {
            // page.dialogs.elements.btnShowCreateModal.prop("disabled", false);
        });
    }
    page.commands.findProductById = (id) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllProducts + "/" + id
        })
            .done((data) => {
                product = data;
            })
            .fail((error) => {
                console.log(error)
            })
    }

    page.element.showUpdateModal = () => {
        page.dialogs.elements.modalUpdateProduct.modal('show');
    }

    page.initializeControlEvent = () => {

        page.element.btnShowCreateModal.on("click", function () {
            page.commands.showCreateModal();
        });

        page.element.btnSave.on("click", function () {
            page.dialogs.commands.createProduct();
        });

        page.dialogs.elements.divImagePreview.on("click", function () {
            page.dialogs.elements.imageFile.trigger("click");
        });

        page.dialogs.elements.imageFile.on("change", function () {
            page.dialogs.commands.changeImagePreview();
        });


        page.dialogs.elements.divImagePreviewUp.on("click", function () {
            page.dialogs.elements.imageFileUp.trigger("click");
        });

        page.dialogs.elements.imageFileUp.on("change", function () {
            page.dialogs.commands.changeImagePreviewUp();
        });
        $('#btnLogout').on('click', () => {
            location.href = '/logout';
        })

        page.commands.showUpdateProduct();

        $(".delete").on("click", function () {
            let id = $(this).data("id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        headers: {
                            "accept": "application/json",
                            "content-type": "application/json"
                        },
                        type: "DELETE",
                        url: page.urls.doDelete + '/' + id
                    })
                        .done((data) => {
                            $("#tr_" + id).remove();

                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Delete customer successful',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        })
                        .fail((error) => {
                            console.log(error)
                        })
                }
            })
        })

    }

    $(() => {
        page.loadData.getAllProducts().then(() => {
            page.initializeControlEvent();
        });
        getAllCategory();
    });

    function getAllCategory(element) {

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllCategory
        })
            .done((data) => {
                let str = '<option value="-1" selected disabled>Category</option>';
                $.each(data, function (index, value) {
                    str += `<option value="${value.id}">${value.typeProduct}</option>`;
                });

                page.dialogs.elements.productCategory.append(str)
                page.dialogs.elements.productCategoryUp.append(str)
            })
    }
</script>
</body>
<footer>
    <th:block th:replace="/layout/footer :: footer"/>
</footer>
</html>