<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-from-left">
            <div class="box">
                <form autocomplete="off">
                    <h2>Sign in</h2>
                    <div class="inputBox">
                        <input type="text" required="required">
                        <span>UserName</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required="required">
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class="links">
                        <a href="#">Forgot Password ?</a>
                        <a href="/register">Signup</a>
                    </div>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
        <div class="col-md-6 login-form-right">
            <div>
                <img src="/assets/css/zyro-image.png" width="450px">
            </div>
        </div>
    </div>
</div>

</body>

</html>